<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        function getResult(){
          $.ajax({
            url: "getResult",
            data:{
              sql: $('#your_sql').val()
            },
            type:"POST",
            dataType:"json",
            success: function(data) {
              var st = JSON.stringify(data.status)
              $('#result').val('' + st);
            }
          });
        }
    </script>
  </head>
  <body>
    your SQL:   <input type="text" id="your_sql" name="your_sql" style="width:700px;"/><br />
  </br>
  </br>
  </br>
    <button id="translate" name="translate" onclick="getResult();">translate</button>
  </br>
  </br>
  </br>

    <textarea id='result' name="result" style="width:700px;height:700px;" /></textarea>
  </body>
</html>
